<div class="itemCardProt">
    <div>
        <img src="{{itemImage}}" alt="item Picture">
    </div>
    <div>
        <h5>{{itemName}}</h5>
        <p>Quantity: {{itemQuantity}} items</p>
        <p>Price: ${{itemPrice}}</p>

        {{#if itemProperties}}
            {{#if size}}
                <p>Size: {{size}}</p>
            {{/if}}
            {{#if itemColor}}
                <p>Color: {{itemColor}}</p>
            {{/if}}
        {{/if}}
    </div>
</div>