<tr id="eachItemRow">
    <td><a class="stretched-link" href="/item/{{_id}}"><img src="{{itemImage}}" alt=""></a>{{itemName}}</td>
    <td>{{_ownerCollection.collectionName}}</td>
    <td>${{itemPrice}}</td>
    <td>{{itemQuantity}}</td>
</tr>