<div id="collectionDetailsCont">
    <div class="chevronDiv">
        <h4>Edit Collection</h4>
    </div>

    <a href="/collection">
        <i class="bi-chevron-left"></i>
    </a>

    <div id="fixedUpperSection">
        <img id="collectionDetialImg" src="{{collections.collectionImage}}" alt="{{collections.collectionName}} image">
        <hr>
        <h2>{{collections.collectionName}}</h2>
    </div>

    
    <!-- <h6>Quantity: {{collection.itemQuantity}}</h6>
    <h6>Price: ${{theItem.itemPrice}}</h6>-->
    <a href="/edit-collection/{{collections._id}}"><i class="bi bi-pencil-square"></i></a>

    <div id="collectionDetailItemsView">
        {{#each collections._collectionItems}}
            {{> itemCard this}}
        {{/each}}
    </div>

    {{> navBar}}
    {{> sideBar}}
</div>