<div id="collectionDetailsCont">
    <a href="/collection">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
    </a>

    <img src="{{collections.collectionImage}}" alt="{{collections.collectionName}} image">
    <hr>
    <h2>{{collections.collectionName}}</h2>
    <hr>
    <!-- <h6>Quantity: {{collection.itemQuantity}}</h6>
    <h6>Price: ${{theItem.itemPrice}}</h6>-->
    <a class="btn btn-dark btn-sm" href="/edit-collection/{{collections._id}}" role="button">Edit</a>

    {{> navBar}}
    {{> sideBar}}
</div>