<div id="editCollectionForm">
    <div class="chevronDiv">
        <h4>Edit Collection</h4>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deleting this Collection is permanent and cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <form action="/collection/{{collections._id}}/delete" method="post">
                    <button type="submit" class="btn btn-danger ms-2">Delete</button>
                </form>
            </div>
            </div>
        </div>
    </div>

    <a href="/collection/{{collections._id}}">
        <i class="bi-chevron-left"></i>
    </a>

    <h3>Edit collection</h3>

    <button id="deleteBin" type="button" data-bs-toggle="modal" data-bs-target="#collectionDeleteModal">
        <i class="bi bi-trash"></i>
    </button>

    <div class="modal fade" id="collectionDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deleting this collection and its items is permanent and cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <form action="/collection/{{collections._id}}/delete" method="post">
                    <button type="submit" class="btn btn-danger ms-2">Delete</button>
                </form>
            </div>
            </div>
        </div>
    </div>

    <form action="/collection/{{collections._id}}/edit" method="post" enctype="multipart/form-data">
        <section>
            <img src="{{collections.collectionImage}}">
            <label for="">
                <svg id="itemImageUploadBtn" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                </svg>
            </label>
            <input type="file" name="collectionImage" class="form-control" id="itemImageUpload">
        <div class="mb-3">
            <label class="form-label">Collection name:</label>
            <input value="{{collections.collectionName}}" type="text" name="collectionName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        </section>
        <div id="updateOrCancelEdit">
            <a class="btn btn-outline-dark" href="/collection/{{collection._id}}" role="button">Cancel</a>
            <button type="submit" class="btn btn-dark">Update Collection</button>
        </div>
    </form>


    {{> navBar}}
    {{> sideBar}}
</div>