<div id="itemDetailsCont">
    <a href="/items">
        <i class="bi-chevron-left"></i>
    </a>

    <img src="{{theItem.itemImage}}" alt="{{theItem.itemName}} image">
    <hr>
    <h2>{{theItem.itemName}}</h2>
    <hr>
    <h6>Collection: {{theItem._ownerCollection}}</h6>
    <h6>Quantity: {{theItem.itemQuantity}}</h6>
    <h6>Price: ${{theItem.itemPrice}}</h6>

    {{#if theItem.itemProperties}}
        {{#if size}}
            <h6>Size: {{theItem.size}}</h6>
        {{/if}}
        {{#if theItem.itemColor}}
            <h6>Color: {{theItem.itemColor}}</h6>
        {{/if}}
    {{/if}}

    <a href="/item/{{theItem._id}}/edit"><i class="bi bi-pencil-square"></i></a>

    {{> navBar}}
    {{> sideBar}}
</div>