<div id="editItemForm">
    <div class="chevronDiv">
        <h4>Edit Item</h4>
    </div>

    <a href="/item/{{theItem._id}}">
        <i class="bi-chevron-left"></i>
    </a>

    <button id="deleteBin" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-trash"></i>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deleting this item is permanent and cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <form action="/item/{{theItem._id}}/delete" method="post">
                    <button type="submit" class="btn btn-danger ms-2">Delete</button>
                </form>
            </div>
            </div>
        </div>
    </div>

    <form action="/item/{{theItem._id}}/edit" method="post" enctype="multipart/form-data">
        <section>
            <img src="{{theItem.itemImage}}">
            <label for="itemImageUpload">
                <svg id="itemImageUploadBtn" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                </svg>
            </label>
            <input type="file" name="itemImage" class="form-control" id="itemImageUpload">

        {{!-- <div class="me-3">
            <label class="form-label">Item image:</label>
            <input value="{{theItem.itemImage}}" type="file" name="itemImage" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div> --}}
        <div class="mb-3 mt-5">
            <label class="form-label">Item name:</label>
            <input value="{{theItem.itemName}}" type="text" name="itemName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        </section>

        <div class="mb-3">
            <label class="form-label">Collection name:</label>
            <select name="_ownerCollection" class="form-select">
                <option value="{{theItem._ownerCollection._id}}" selected>Current collection: <b>{{theItem._ownerCollection.collectionName}}</b></option>
                {{#each theCollections}}
                    <option value="{{this._id}}">{{this.collectionName}}</option>
                {{/each}}
            </select>
        </div>

        <section>
            <div class="mb-3 me-2">
                <label class="form-label">Quantity:</label>
                <input value="{{theItem.itemQuantity}}" type="number" name="itemQuantity" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 ms-2">
                <label class="form-label">Price:</label>
                <input value="{{theItem.itemPrice}}" type="number" name="itemPrice" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </section>

        {{#if theItem.itemProperties}}
            <div class="mb-3 form-check form-switch">
                <label class="form-check-label" for="extraPropertiesEdit">Add more available properties</label>
                <input value="true" name="itemProperties" class="form-check-input" type="checkbox" role="switch" id="extraPropertiesEdit" checked>
            </div>

            <div id="extraPropEditContainer">
                <div class="mb-3">
                    <label class="form-label">Size:</label>
                    <select name="size" class="form-select" aria-label="Default select example">
                        <option selected>{{theItem.size}}</option>
                        <option value="undefined">No size</option>
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Large">Large</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Color:</label>
                    <input value="{{theItem.itemColor}}" type="text" name="itemColor" class="form-control" id="exampleInputEmail1">
                </div>
            </div>

        {{else}}
            <div class="mb-3 form-check form-switch">
                <label class="form-check-label" for="extraPropertiesEdit">Add more available properties</label>
                <input value="true" name="itemProperties" class="form-check-input" type="checkbox" role="switch" id="extraPropertiesEdit">
            </div>

            <div id="extraPropEditContainer" class="containerHidden">
                <div class="mb-3">
                    <label class="form-label">Size:</label>
                    <select name="size" class="form-select" aria-label="Default select example">
                        <option value="undefined">No size</option>
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Large">Large</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Color:</label>
                    <input value="{{theItem.itemColor}}" type="text" name="itemColor" class="form-control" id="exampleInputEmail1">
                </div>
            </div>

        {{/if}}

        <div id="updateOrCancelEdit">
            <a class="btn btn-outline-dark" href="/item/{{theItem._id}}" role="button">Cancel</a>
            <button type="submit" class="btn btn-dark">Update Item</button>
        </div>
    </form>


    {{> navBar}}
    {{> sideBar}}
    <script>
        const extraPropertiesEdit = document.getElementById("extraPropertiesEdit");
        const extraPropEditContainer = document.getElementById("extraPropEditContainer");

        extraPropertiesEdit.addEventListener("change", function () {
            if (this.checked) {
                console.log("Switchet is checked: ", extraPropEditContainer.style.display)
                extraPropEditContainer.style.display = "block";
            } else {
                console.log("Switchet is not checked: ", extraPropEditContainer.style.display)
                extraPropEditContainer.style.display = "none";
            }
        });
    </script>
</div>